# services:
#   web:
#     build: .
#     volumes:
#       postgres_data:
#       - .:/app
#       - ./media:/app/media
#     ports:
#       - "8000:8000"
#     depends_on:
#       db:
#         condition: service_healthy
#       redis:
#         condition: service_healthy
#     environment:
#       - DJANGO_SETTINGS_MODULE=hrms.settings
#       - DATABASE_NAME=hrms_db
#       - DATABASE_USER=user
#       - DATABASE_PASSWORD=password
#       - DATABASE_HOST=db
#       - DATABASE_PORT=5432
#       - CELERY_BROKER_URL=redis://redis:6379/0
#       - CELERY_RESULT_BACKEND=redis://redis:6379/0
#       - REDIS_HOST=redis
#       - REDIS_PORT=6379
#       - SECRET_KEY=django-insecure-u!bn7xcz3ad02@n0f&v-l@lq+=(d&jt@f!(yro=@%=n#%3n&4_
#     env_file:
#       - .env

#   db:
#     image: postgres:13
#     environment:
#       POSTGRES_DB: hrms_db
#       POSTGRES_USER: user
#       POSTGRES_PASSWORD: password
#     volumes:
#       - postgres_data:/var/lib/postgresql/data
#     healthcheck:
#       test: ["CMD-SHELL", "pg_isready -U user -d hrms_db"]
#       interval: 10s
#       timeout: 5s
#       retries: 5

#   redis:
#     image: redis:alpine
#     healthcheck:
#       test: ["CMD", "redis-cli", "ping"]
#       interval: 10s
#       timeout: 5s
#       retries: 5

#   celery:
#     build: .
#     command: celery -A hrms worker --loglevel=info
#     volumes:
#       - .:/app
#     depends_on:
#       db:
#         condition: service_healthy
#       redis:
#         condition: service_healthy
#     environment:
#       - DJANGO_SETTINGS_MODULE=hrms.settings
#       - DATABASE_NAME=hrms_db
#       - DATABASE_USER=user
#       - DATABASE_PASSWORD=password
#       - DATABASE_HOST=db
#       - DATABASE_PORT=5432
#       - CELERY_BROKER_URL=redis://redis:6379/0
#       - CELERY_RESULT_BACKEND=redis://redis:6379/0
#       - REDIS_HOST=redis
#       - REDIS_PORT=6379
#       - SECRET_KEY=django-insecure-u!bn7xcz3ad02@n0f&v-l@lq+=(d&jt@f!(yro=@%=n#%3n&4_
#     env_file:
#       - .env

#   nginx:
#     image: nginx:alpine
#     ports:
#       - "80:80"
#     volumes:
#       - ./nginx.conf:/etc/nginx/conf.d/default.conf
#       - ./staticfiles:/app/staticfiles
#       - ./media:/app/media
#     depends_on:
#       - web


services:
  web:
    build: .
    volumes:
      - .:/app
      - ./media:/app/media
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DJANGO_SETTINGS_MODULE: hrms.settings
      DATABASE_NAME: hrms_db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SECRET_KEY: django-insecure-u!bn7xcz3ad02@n0f&v-l@lq+=(d&jt@f!(yro=@%=n#%3n&4_
    env_file:
      - .env

  db:
    image: postgres:13
    environment:
      POSTGRES_DB: hrms_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d hrms_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  celery:
    build: .
    command: celery -A hrms worker --loglevel=info
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      DJANGO_SETTINGS_MODULE: hrms.settings
      DATABASE_NAME: hrms_db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost
      DATABASE_PORT: 5432
      CELERY_BROKER_URL: redis://redis:6379/0
      CELERY_RESULT_BACKEND: redis://redis:6379/0
      REDIS_HOST: redis
      REDIS_PORT: 6379
      SECRET_KEY: django-insecure-u!bn7xcz3ad02@n0f&v-l@lq+=(d&jt@f!(yro=@%=n#%3n&4_
    env_file:
      - .env

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - web

volumes:
  postgres_data:
